{% load static %}
<!DOCTYPE html>
<html lang="en">
<head style="background-color: lavender">
    <meta charset="UTF-8">

     <link href="{% static "css/base.css" %}" rel="stylesheet">

</head>
<body style="background-color: lavender">

    <h1> &emsp; Frequently Asked Questions</h1>

    <p> &emsp; &emsp; &emsp; <b>Q: How Do I know if my booking was successful?</b></p>
    <p> &emsp; &emsp; &emsp; A: After making and booking and going through checkout, an email will be sent to you with your itinerary information.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: How do I customize my trip and ensure that I have enough to do while im traveling?</b></p>
    <p> &emsp; &emsp; &emsp; A: Through the booking process, you will be able to select things such as destinations as well as activites at each destination if desired.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: How do I cancel a booking?</b></p>
    <p> &emsp; &emsp; &emsp; A: For our cancellation policy, trips must be cancelled by emailing our staff at least one week prior to departure.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: What can I do if I never receive my booking confirmation email?</b></p>
    <p> &emsp; &emsp; &emsp; A: In this circumstance, users will need to contact customer service directly. <br> &emsp;&emsp;&emsp;&emsp;&emsp;Once we confirm the issue, we will ensure that the booking is made on our end.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: Can I book travel insurance through this store?</b></p>
    <p> &emsp; &emsp; &emsp; A: We currently do not offer travel insurance, but we have third parties that we can recommend.</p>
        <br>
    <p> &emsp; &emsp; &emsp; <b>Q: Does the Intergalactic Travel Agency offer payment plans for trip bookings?</b></p>
    <p> &emsp; &emsp; &emsp; A: We do not currently offer financing for travel bookings, but we plan on offering this in the future.</p>
        <br>
</body>
</html>
